DISCORD_TOKEN=
DATABASE_URL=postgresql://user:password@localhost:5432/viordles
NODE_ENV=development
TMDB_API_KEY=
RAWG_API_KEY=
CLIENT_ID=
GUILD_ID=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_PASSWORD=
YTDLP_PROXY=socks5://localhost:40000
HEALTH_PORT=3000
